[submodule "modules/thirdparty-yaml-cpp/yaml-cpp"]
	path = modules/thirdparty-yaml-cpp/yaml-cpp
	url = https://github.com/EldarMuradov/yaml-cpp.git
[submodule "modules/thirdparty-entt/entt"]
	path = modules/thirdparty-entt/entt
	url = https://github.com/EldarMuradov/entt.git
[submodule "modules/thirdparty-directxtex/directxtex"]
	path = modules/thirdparty-directxtex/directxtex
	url = https://github.com/EldarMuradov/DirectXTex.git
[submodule "modules/thirdparty-rttr/rttr"]
	path = modules/thirdparty-rttr/rttr
	url = https://github.com/EldarMuradov/rttr.git
[submodule "modules/thirdparty-gtest"]
	path = modules/thirdparty-gtest
	url = https://github.com/google/googletest.git
[submodule "modules/thirdparty-acl/acl"]
	path = modules/thirdparty-acl/acl
	url = https://github.com/nfrechette/acl.git
	branch = release/2.0
